*{
    margin: 0;
    padding: 0; 
     box-sizing: border-box;
}
.container{
    width: 100%;
        display: grid;
        height: 100vh;
        grid-template-rows: 50px 1fr 50px;
    }
    
    /* header section */
    
 nav{
        background-color: brown;
        display: flex;
       justify-content: space-between;
       align-items: center;
    }
nav ul{
        display: flex;
        list-style: none;
        gap: 3rem;
    }
    li{
        color: white;
    }
    
.logo{
        margin-left: 10px;
        font-size: 20px;
    }
.menu_icon{
    display: none;
   }
   @media screen and (max-width:700px) {
    nav ul{
        background-color: brown;
        display: flex;
       justify-content: space-between;
       align-items: center;
       justify-content: center;
    }
    .logo{
        margin-bottom: 10px;
    }
} 
/* @media screen and (max-width:700px) {
    nav ul{
        background-color: brown;
        display: flex;
        flex-direction: column;
       justify-content: space-between;
       align-items: flex-start;
       justify-content: flex-start;
       gap: 1rem;
       position: fixed;
       top: 90px;
       left: 0px;
       width: 300px;
       height: 100vh;
       background-color: #2a3239;
       padding: 40px 0 0 10px;
    }
    .menu_icon{
        display: block;
       }
    
} */


   
   
   